<section class="life-coffee">
  <div class="text-section">
    <h2 class="top-title">DESIGNED FOR REAL LIFE</h2>
    <h1 class="main-title">COFFEE MADE FOR YOUR LIFE ON THE GO</h1>
    <p class="description">We understand coffee is a big part of your busy, active life. That’s why we create and develop products that allow you to bring your passion for coffee-when you want it- and wherever life takes you.</p>
  </div>
  <div class="image-section">
    <div class="left-images">
      <%= image_tag "parallax1.png", alt: "Left Image 1", class: "parallax-image" %>
      <%= image_tag "parallax2.png", alt: "Left Image 2", class: "parallax-image" %>
      <%= image_tag "parallax3.png", alt: "Left Image 3", class: "parallax-image" %>
    </div>
    <div class="right-images">
      <%= image_tag "parallax4.png", alt: "Right Image 1", class: "parallax-image" %>
      <%= image_tag "parallax5.png", alt: "Right Image 2", class: "parallax-image" %>
      <%= image_tag "parallax6.png", alt: "Right Image 3", class: "parallax-image" %>
    </div>
  </div>
</section>
